/* init */
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, lightpink, lightcoral);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: monospace;
}

html {
  height: 100%;
}

/* app page */

.pagina {
  text-align: center;
  margin-top: 1rem;
}

h1 {
  color: beige;
  text-shadow: 0.2rem 0.2rem black;
}

.input {
  background-color: beige;
  margin: 0 auto;
  width: 30%;
  border: 0.1rem;
  border-radius: 0.5rem;
  border-style: solid;
  border-color: gray;
  box-shadow: 0.5rem 0.5rem;
}

form {
  margin-top: 0.5rem;
  line-height: 1.8rem;
  margin-bottom: 0.5rem;
}

#result {
  margin-top: 1.5rem;
}

.linkbar {
  margin: 0.5rem;
  text-align: right;
}

.linkbar > a {
  text-decoration: none;
  color: black;
}

.linkbar > a:hover {
  color: beige;
}

.resultimage {
  border: 0.1rem;
  border-radius: 0.5rem;
  border-style: solid;
  border-color: gray;
  box-shadow: 0.5rem 0.5rem;
}

.warning {
  margin-top: 2rem;
}

/* documentation page */
.documentation {
  margin: 0 auto;
  background-color: beige;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 70%;
}

.documentation > h1 {
  color: black;
  text-shadow: none;
}

.documentation > p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.2rem;
}

table {
  border-collapse: collapse;
  width: 60%;
  margin-bottom: 1rem;
}

th,
td {
  text-align: left;
  padding: 0.5rem;
  border: 1px solid #ccc;
}

th {
  font-weight: bold;
}

code > p {
  line-height: 0.2rem;
}

.showcode {
  width: 60%;
  border: 1px solid #ccc;
}

@media only screen and (max-width: 600px) {
  .input {
    width: 90%;
  }
  .showcode {
    width: 100%;
  }
}
