body {
  /* background-size: 60px 60px;
  background-image: linear-gradient(
      to right,
      rgb(251, 199, 207) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgb(251, 199, 207) 1px, transparent 1px); */
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, lightpink, lightcoral);
  background-size: cover;
  background-repeat: no-repeat;
}

html{
    height: 100%;
}

.pagina {
  text-align: center;
  font-family: monospace;
  margin-top: 2rem;
}

h1 {
  color: beige;
  text-shadow: 0.2rem 0.2rem black;
}

.input {
  background-color: beige;
  margin: 0 auto;
  width: 30%;
  border: 0.1rem;
  border-radius: 0.5rem;
  border-style: solid;
  border-color: gray;
  box-shadow: 0.5rem 0.5rem;
}

form {
  margin-top: 0.5rem;
  line-height: 1.8rem;
  margin-bottom: 0.5rem;
}

#result {
  margin-top: 2rem;
}

.resultimage {
  border: 0.1rem;
  border-radius: 0.5rem;
  border-style: solid;
  border-color: gray;
  box-shadow: 0.5rem 0.5rem;
}

.warning {
  margin-top: 2rem;
}
@media only screen and (max-width: 600px) {
  .input {
    width: 90%;
  }
}
